appdirs
beautifulsoup4
certifi
charset-normalizer
click
distlib
filelock
frozendict
html5lib
idna
jugaad-data
lxml
multitasking
nsepython
nsepythonserver
numpy
pandas
peewee
platformdirs
python-dateutil
pytz
requests
scipy
six
soupsieve
tzdata
urllib3
virtualenv
webencodings
yfinance
prettytable